@font-face {
  font-family: 'Westminster';
  src: url('fonts/Westminster.ttf') format('truetype');
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Westminster', monospace;
  background: black;
}

.hero {
  background: url('images/hairy-white-hole.jpg') no-repeat center center;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 1s ease-in-out;
}

.hero.filter-red {
  filter: hue-rotate(-90deg) saturate(2);
}

.title-link {
  color: white;
  font-size: 12vw;
  text-decoration: none;
  font-weight: bold;
  text-shadow:
    -2px -2px 0 #000,
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
}

.title-link:hover {
  opacity: 0.8;
}
