/* Global Styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
  color: white;
  position: relative;
}

/* Load Westminster font using @font-face */
@font-face {
  font-family: 'Westminster';
  src: url('fonts/Westminster.ttf') format('truetype'); /* Path to Westminster font file */
  font-weight: normal;
  font-style: normal;
}

/* Hero Section Styles */
.hero-container {
  width: 100%;
  height: 50vh; /* Adjusted height */
  background-image: url('images/hairy-white-hole.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.hero-content {
  position: relative;
  text-align: center;
  z-index: 2;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
}

/* Westminster Font for CBH */
.westminster {
  font-family: 'Westminster', serif; /* Apply Westminster font to "CBH" */
  font-size: 4rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Paragraph Styles */
.hero-content p {
  font-size: 1.5rem;
  margin: 10px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Button Styles */
.button-link {
  padding: 10px 20px;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button-link:hover {
  background-color: rgba(254, 180, 123, 0.8);
}

/* Helvetica Text */
.helvetica-text {
  font-family: 'Helvetica', sans-serif;
}
