/* Global Styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
  color: white;
  position: relative;
  overflow-x: hidden; /* Prevent horizontal scroll when resized */
}

/* Image Section */
.image-container {
  width: 100%;
  height: 50vh; /* Fixed height for the image section */
}

.main-image {
  width: 100%; /* Make the image fill the width of the container */
  height: 100%; /* Make the image fill the height of the container */
  object-fit: cover; /* Ensures the image covers the entire container without distortion */
}

/* Content Section */
.content {
  text-align: center;
  margin-top: 20px;
}

/* Title Styles */
.content h1 {
  font-size: 4rem;
  font-family: 'Westminster', serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Paragraph Styles */
.content p {
  font-size: 1.5rem;
  margin: 10px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Button Styles */
.button-link {
  padding: 10px 20px;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  position: fixed;
  bottom: 20px; /* Keep it 20px from the bottom */
  left: 50%;
  transform: translateX(-50%); /* Center the button */
}

.button-link:hover {
  background-color: rgba(254, 180, 123, 0.8);
}

/* Add a color overlay on the hero image when clicked */
.main-image.color-changed {
  filter: brightness(0.7); /* Apply a filter to change the image color */
}

/* Helvetica Text */
.helvetica-text {
  font-family: 'Helvetica', sans-serif;
}
